ws/03WsWsdlFirst/src/main/resources/reviewer.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://alien11689.github.com/webservices/wsdlfirst"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:model="http://github.com/alien11689/webservices/model"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="ProjectServiceImplService"
                  targetNamespace="http://alien11689.github.com/webservices/wsdlfirst">
    <wsdl:documentation>Project management service</wsdl:documentation>
    <wsdl:types>

        <xs:schema
                elementFormDefault="qualified"
                targetNamespace="http://alien11689.github.com/webservices/wsdlfirst"
                version="1.0">

            <xs:import namespace="http://github.com/alien11689/webservices/model" schemaLocation="projectReview.xsd"/>

            <xs:element name="getProjectsRequest" type="tns:GetProjectsRequest"/>
            <xs:element name="getProjectsResponse" type="tns:GetProjectsResponse"/>
            <xs:element name="createProjectRequest" type="tns:CreateProjectRequest"/>
            <xs:element name="createProjectResponse" type="tns:CreateProjectResponse"/>
            <xs:element name="fault" type="tns:Fault"/>
            <xs:element name="getProjectRequest" type="tns:GetProjectRequest"/>
            <xs:element name="getProjectResponse" type="tns:GetProjectResponse"/>
            <xs:element name="deleteAllRequest" type="tns:DeleteAllRequest"/>

            <xs:complexType name="GetProjectsRequest">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="DeleteAllRequest">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="GetProjectsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="model:project"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateProjectRequest">
                <xs:sequence>
                    <xs:element ref="model:project"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateProjectResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="GetProjectRequest">
                <xs:sequence/>
                <xs:attribute name="name"/>
            </xs:complexType>

            <xs:complexType name="GetProjectResponse">
                <xs:sequence>
                    <xs:element ref="model:project"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Fault">
                <xs:sequence>
                    <xs:element name="code" type="xs:integer"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getProjectsResponse">
        <wsdl:part element="tns:getProjectsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProjectsRequest">
        <wsdl:part element="tns:getProjectsRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createProjectRequest">
        <wsdl:part element="tns:createProjectRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createProjectResponse">
        <wsdl:part element="tns:createProjectResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="fault">
        <wsdl:part element="tns:fault" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProjectResponse">
        <wsdl:part element="tns:getProjectResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProjectRequest">
        <wsdl:part element="tns:getProjectRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="user">
        <wsdl:part element="model:user" name="credits"/>
    </wsdl:message>
    <wsdl:message name="deleteAllRequest">
        <wsdl:part element="tns:deleteAllRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="ProjectServicePortType">
        <wsdl:operation name="getProjects">
            <wsdl:documentation>get all projects</wsdl:documentation>
            <wsdl:input message="tns:getProjectsRequest" name="getProjectsRequest"/>
            <wsdl:output message="tns:getProjectsResponse" name="getProjectsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createProject">
            <wsdl:documentation>create new project</wsdl:documentation>
            <wsdl:input message="tns:createProjectRequest" name="createProjectRequest"/>
            <wsdl:output message="tns:createProjectResponse" name="createProjectResponse"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getProject">
            <wsdl:documentation>get project by name</wsdl:documentation>
            <wsdl:input message="tns:getProjectRequest" name="getProjectRequest"/>
            <wsdl:output message="tns:getProjectResponse" name="getProjectResponse"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAll">
            <wsdl:documentation>delete all projects</wsdl:documentation>
            <wsdl:input message="tns:deleteAllRequest" name="deleteAllRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProjectServiceServiceSoapBinding" type="tns:ProjectServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getProjects">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getProjectsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getProjectsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createProject">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createProjectRequest">
                <soap:body use="literal"/>
                <soap:header message="tns:user" part="credits" use="literal"/>
            </wsdl:input>
            <wsdl:output name="createProjectResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:body use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProject">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getProjectRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getProjectResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAll">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteAllRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProjectService">
        <wsdl:port binding="tns:ProjectServiceServiceSoapBinding" name="ProjectServicePort">
            <soap:address location="http://localhost:8080/ProjectService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>